$white: #ffffff;

$neutral-10: #f0f0f0;
$neutral-20: #e3e3e3;
$neutral-30: #bfbfbf;
$neutral-40: #808080;
$neutral-50: #3a3a3a;

$warning: #f2a60c;
$error: #cc2929;
$succsess: #2fb224;
$info: #1762e5;

$primary-10: #4d4d4d;
$primary-20: #404040;
$primary-30: #333333;
$primary-40: #262626;
$primary: #1a1a1a;
$primary-60: #141414;
$primary-70: #0d0d0d;
$primary-80: #050505;
$primary-90: #000000;

$secondary-10: #29284f;
$secondary-20: #21204f;
$secondary-30: #19184f;
$secondary-40: #12114f;
$secondary: #0a094f;
$secondary-60: #090845;
$secondary-70: #08073b;
$secondary-80: #060530;
$secondary-90: #050426;
