@use "/src/sass/base/colors";
@use "/src/sass/base/fonts";
@use "/src/sass/utils/mixins" as *;

nav {
  @include flex();
  @include padding(0, 24px);
  height: 2.375rem;
  background-color: colors.$neutral-20;

  ul {
    @include flex(row, center, center);
    margin-left: auto;
    gap: 1.5rem;

    a {
      font-size: 16px;
      color: colors.$primary;
    }
  }

  button {
    background-color: transparent;
    border: none;
    border-right: 0.1875rem solid colors.$white;
    border-left: 0.1875rem solid colors.$white;
    width: 7rem;
    height: 100%;
    cursor: pointer;

    .indicator {
      @include flex(row, center, center);
      background-color: colors.$primary;
      color: colors.$white;
      font-size: 0.9rem;
      padding: 0.1rem 0.35rem;
      border-radius: 4px;
    }

    &.cart {
      @include flex(row-reverse, center, center);
      border-left: none;
      gap: 4px;
    }
  }
}

.sub-nav {
  @include flex(row, space-between, center);
  @include padding(0, 24px);
  margin-top: 1rem;

  .search-bar{
    @include flex(row , center , center);
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    position: relative;

    img{
      width: 25px;
      position: absolute;
      right: 5px;
    }

    input{
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      height: max-content;
      margin-right: 1.5rem;
    }
  }

  ul {
    @include flex(row, center, center);
    gap: 40px;
    width: max-content;
    height: 100%;
  }

  h3{
    font-family: fonts.$en;
    font-size: 1.3rem;
    font-weight: 300;
  }
}